body {
  margin: 0;
  background-color: seashell;
  font-family: monospace;
  position: relative;
}
nav {
  background-color: papayawhip;
  margin-top: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.link {
  text-decoration: none;
  color: black;
  font-size: 15pt;
  font-weight: 600;
}
.link:hover {
  border-bottom: 3px solid grey;
  color: midnightblue;
}
.link:active {
  border-bottom: 5px solid black;
  color: orange;
}
.book {
  display: grid;
  position: relative;
  grid-template: 1fr / 1fr 1fr 1fr 10px;
  grid-gap: 20px;
  justify-self: stretch;
  border: 1px solid black;

}
.delete {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 20pt;
  opacity: .1;
}
.delete:hover {
  cursor: pointer;
  font-weight: bold;
  opacity: .5;
}
.delete:active {
  color: red;
  font-weight: bolder;
  opacity: 1;
}
.delete-account {
  position: absolute;
  top: 70px;
  right: 20px;
}
img {
  height: 100%;
  max-height: 450px;
  max-width: 300px;
  background-color: black;
  color: white;
  font-size: 65pt;
  overflow: auto;
  word-wrap: break-word;
}
.book img:hover {
  animation: imganimhover .25s ease-in-out 1 normal;
  border-left: 15px solid black;
  opacity: .6;
  cursor: pointer;
}
.book-info:hover {
  animation: bookanimhover .5s ease-in-out 1 normal;
  border-left: 5px solid black;
  font-weight: 600;
  cursor: pointer;
  background-color: peachpuff;
}
.memory:hover {
  animation: bookanimhover .5s ease-in-out 1 normal;
  border-left: 5px solid black;
  padding-left: 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: peachpuff;
}
.book-info:active {
  animation: bookanimactive .25s ease-in-out 1 normal;
  border-left: 20px solid black;
  padding-left: 20px;
  background-color: grey;
  cursor: pointer;
}
.memory:active {
  animation: bookanimactive .25s ease-in-out 1 normal;
  border-left: 20px solid black;
  padding-left: 20px;
  background-color: grey;
  cursor: pointer;
}
.book-info {
  width: 80%;
  padding: 10px;
  padding-left: 20px;
}
.book-info span {
  color: orange;
  font-size: 15pt;
  overflow-wrap: break-word;
}
.modal {
  position: fixed;
  top: 0;
  opacity: .8;
  height: 100vh;
  width: 100vw;
  background-color: white;
  font-size: 30pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.close {
  width: 100%;
}
.book-cover {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.book-cover img {
  height: 600px;
}
.book-cover input {
  width: 98%;
}
.book-memory {
  width: 1500px;
}
.book-memory input {
  width: 98%;
}
.book-memory textarea {
  width: 98%;
  height: 100px;
}
.memory span {
  color: orange;
  font-size: 13pt;
  word-spacing: -5px;
  letter-spacing: -1px;
  overflow-wrap: break-word;
}
.memory {
  margin-left: -30px;
}
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 11pt;
  display: flex;
}
#minimize {
  position: absolute;
  border: 1px solid grey;
  color: grey;
  font-size: 20pt;
  opacity: .5;
}
#minimize:hover {
  color: black;
  cursor: pointer;
  font-weight: bold;
  opacity: 1;
}
#minimize:active {
  color: white;
  cursor: pointer;
  font-weight: bold;
  background-color: grey;
}
.options input {
  margin: 10px;
}
.category {
  margin: 10px;
}
.new-book {
  display: flex;
  align-self: center;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.new-book:hover {
  background-color: grey;
}
.new-book:active {
  background-color: black;
  color: white;
}
.start-finish {
  cursor: pointer;
}
.start-finish:hover {
  color: lime;
}
.start-finish:active {
  color: red;
}
.inputs {
  width: 100%;
  text-align: center;
}
.memora {
  font-size: 70pt;
  text-align: center;
}
.bib {
  color: midnightblue;
}
.lia {
  color: cadetblue;
}
.dot {
  color: grey;
  opacity: .3;
  animation: myframes 1s ease-in-out 1 normal;
}
.subtext {
  text-align: center;
  font-style: italic;
  color: black;
}
.subtext-parent {
  position: relative;
}
.subtext-boxes {
  position: absolute;
  top: 140px;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  grid-gap: 11px;
  color: grey;
  opacity: .5;
  margin-left: 15px;
}
.current-reading {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.current-reading div img {
  height: 400px;
  box-shadow: 0 30px 40px rgba(0,0,0,1);
  margin-bottom: 100px;
}
.scroll-covers {
  position: absolute;
  bottom: 35px;
}
.scroll-covers button {
  margin: 15px;
}
.selection {
  font-size: 15pt;
}
.random-color {
  font-size: 15pt;
}
.random-color:hover {
  font-weight: bold;
  cursor: pointer;
}
.random-color:active {
  color: grey;
}
.profile-words {
  color: black;
}
.profile-words:hover {
  font-weight: bold;
  cursor: pointer;
}
.profile-words:active {
  color: grey;
}
#login {
  align-self: center;
  width: 500px;
  box-shadow: 0 30px 40px rgba(0,0,0,.2);
  animation: login 1s ease-in-out 1 normal;
}
#loginForm {
  display: flex;
  flex-direction: column;
}
#loginForm label {
  padding: 20px;
  padding-top: 6px;
  text-align: center;
  margin: 10px;
}
.opb:hover {
  cursor: pointer;
  font-weight: bold;
}
.opb:active {
  color: lime;
}
#read-to-remember {
  display: flex;
  text-align: center;
  z-index: -1;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
  letter-spacing: 10px;
  opacity: .3;
  font-size: 50pt;
  border: 3px solid grey;
  border-radius: 20px;
  padding: 50px;
}
#r-t-r-wrapper {
  display: flex;
  position: absolute;
  z-index: -1;
  top: 120px;
  justify-content: center;
  width: 100%;
  height: 300px;
}
#read-to-remember div {
  opacity: .5;
}
#profile {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
#profile-stats {
  display: grid;
  grid-column: 1 / span 2;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(41, 37, 37);
}
#profile h1 {
  text-align: center;
  font-size: 30pt;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  min-width: 100px;
}
#user-info {
  display: flex;
  flex-direction: column;
  font-size: 12pt;
}
#userInfo ul {
  font-size: 10pt;
  color: grey;
  max-width: 350px;
}
.stat-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 200px;
  width: 300px;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.stat-box img {
  border: 1px solid black;
  height: 180px;
}
.stat-head {
  color: white;
  padding: 10px;
}
#profile-parent {
  display: grid;
  grid-gap: 30px;
  grid-template: 1fr / 1fr 1fr;
  justify-items: center;
}
#attention {
  display: grid;
  grid-gap: 10px;
  grid-template: 1fr / 1fr 1fr;
  max-height: 250px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px;
  padding-top: 5px;
}
#attention-title {
  text-align: center;
  background-color: rgb(253, 253, 253);
  border-bottom: 1px solid black;
  grid-column: 1 / span 2;
  padding-bottom: 5px;
}
#attention ul {
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 253, 253);
  border-left: 1px solid black;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
.profile-book {
  height: 190px;
  border: 2px solid black;
}
.profile-book:hover {
  opacity: .8;
  border: 3px solid lavender;
  cursor: pointer;
}
.profile-book:active {
  opacity: .6;
  border: 3px solid purple;
  cursor: pointer;
}
#missing {
  color: red;
  padding-bottom: 10px;
}
#basic-stats {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12pt;
  padding: 25px;
}
#user-name {
  color: rgb(85, 85, 124);
}
#profile-dot {
  animation: profile 1s ease-in-out 1 normal;
}
#no-stress {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 17pt;
  border: 1px solid black;
  border-radius: 10px;
}
#no-stress span {
  color: lime;
  background-color: lime;
  opacity: .3;
  margin: 10px;
  border: 1px solid black;
}
.hl-blue {
  color: #3577CB;
}
#basic-stats li:not(:nth-child(-n+2)) {
  margin: 6px;
}
.u-dots {
  color: #3577CB;
  letter-spacing: -5px;
}
.lil-stat {
  color: rgb(173, 173, 173);
}
#dot-barrier {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-around;
  font-size: 25pt;
  margin-top: -10px;
  width: 100%;
}
#dot-barrier span:nth-child(1) { 
  animation: dot-barrier 1s ease-in-out 1 normal; 
}
#dot-barrier span:nth-child(2) { 
  animation: dot-barrier 2s ease-in-out 1 normal; 
}
#dot-barrier span:nth-child(3) { 
  animation: dot-barrier 3s ease-in-out 1 normal; 
}
#dot-barrier span:nth-child(4) { 
  animation: dot-barrier 4s ease-in-out 1 normal; 
}
#dot-barrier span:nth-child(5) { 
  animation: dot-barrier 5s ease-in-out 1 normal; 
}
#dot-barrier span:nth-child(6) { 
  animation: dot-barrier 6s ease-in-out 1 normal; 
}
#dot-barrier span:nth-child(7) { 
  animation: dot-barrier 7s ease-in-out 1 normal; 
}
#dot-barrier span:nth-child(8) { 
  animation: dot-barrier 8s ease-in-out 1 normal; 
}
#dot-barrier span:nth-child(9) { 
  animation: dot-barrier 9s ease-in-out 1 normal; 
}
#dot-barrier span:nth-child(10) { 
  animation: dot-barrier 10s ease-in-out 1 normal; 
}
#just-a-border {
  grid-column: 1 / span 2;
  height: 20px;
  width: 100%;
  border-bottom: 1px solid black;
  border-radius: 10px;
}
.mobile-friendly {
  display: none;
}
.menu-btn {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn_burger {
  width: 25px;
  height: 6px;
  background: black;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 6px;
  background: black;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn_burger::before{
  transform: translateY(-10px);
}
.menu-btn_burger::after{
  transform: translateY(10px);
}
.menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent;
} 
.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);

} 
.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);

} 
select {
  border: 0;
  background: transparent;
}
.category {
  position: relative;
  display: flex;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.options div input {
  background: rgb(219, 211, 211);
  border: 1px solid black;
}

.options div input:focus {
  background: transparent;
  outline: none !important;
  border:2px solid rgb(58, 57, 57);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
.d-modal {
  font-size: 40pt;
  z-index: 99;
}
.modal form input, textarea {
  border: 2px solid grey;
}
.modal form input:focus, textarea:focus {
  outline: none !important;
  border:2px solid rgb(58, 57, 57);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
.flip-text {
  display: flex;
  position: absolute;
  left: -34px;
  margin-top: 70px;
  width: 100px;
  font-weight: bold;
  opacity: .2;
  transform: rotate(-90deg);
}
.flip-text:hover {
  opacity: 5;
}
.add-api-hover:hover {
  border: 3px solid lime;
}

.book-memory {
  display: flex;
  justify-content: space-around;
}
.extra-opacity {
  position: absolute;
  bottom: -500px;
  height: 500px;
  width: 100vw;
  background-color: white;
}
.theme {
  position: absolute;
  top: 60px;
  opacity: .2;
  cursor: pointer;
}



/* Keyframe Animations */




@keyframes profile {
  0% {
    opacity: .0001;
    visibility: visible;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: .5;
  }
}
@keyframes myframes {
  0% {
    opacity: .1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
@keyframes dissappear {
  0% {
    opacity: .5;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: .0001;
    visibility: hidden;
  }
}
@keyframes appear {
  0% {
    opacity: .0001;
    visibility: visible;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: .5;
  }
}
@keyframes login {
  0% {
    opacity: .0001;
    visibility: visible;
    margin-top: -20px;
  }
  50% {
    opacity: 1;
  }
  100% {
    
  }
}
@keyframes dot-barrier {
  0% {
    color: seashell;
  }
  50% {
    color: grey;
  }
  100% {
    color: black;
  }
}
@keyframes bookanimhover {
  0% {
    border-left: 0px solid black;
  }
  100% {
    border-left: 5px solid black;
  }
}
@keyframes imganimhover {
  0% {
    border-left: 0px solid black;
  }
  100% {
    border-left: 15px solid black;
  }
}
@keyframes bookanimactive {
  0% {
    border-left: 5px solid black;
  }
  100% {
    border-left: 20px solid black;
  }
}

@media (max-width: 1200px) {
  #userInfo h1 {
    text-align: right;
  }
}

/* Media Quieries / Mobile Support */

@media (min-width: 931px) {
  #userInfo ul {
    position: absolute;
    top: 135px;
  }
}

@media (max-width: 930px) {
  .memora {
    display: flex;
    flex-direction: column;
    line-height: 100px;
  }
  .subtext-boxes {
    margin-top: -50px;
  }
  .mobile-friendly {
    display: block;
  }
  .extremely-friendly-div {
    display: none;
  }
  .book {
    display: flex;
    flex-direction: row;
    position: block;
    justify-content: center;
  }
  .book-info {
    display: none;
    margin-left: 0px;
    min-height: 280px;
  }
  .memory {
    display: none;
    width: 80%;
    margin-left: 0px;
    padding-left: 10px;
    min-height: 280px;
  }
  .img-div {
    height: 300px;
    max-width: 250px;
    margin-left: 35px;
  }
  .mobile-friendly {
    position: absolute;
    left: 0;
    width: 35px;
    height: 100%;
  }
  .mobile-friendly div {
    height: 49.9%;
    border-right: 1px solid black;
    border-top: 1px dotted black;
    background-color: #615148;
  }
  .mobile-friendly div:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .mobile-friendly div:active {
    background-color: white;
    color: black;
  }
  nav {
    width: 100%;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  #attention {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
  }
  #attention img {
    border: none;
  }
  #profile {
    display: grid;
    grid-gap: 30px;
    grid-template: 1fr / 1fr;
    justify-items: center;
    padding: 10px;
  }
  #profile-parent {
    display: flex;
    flex-direction: column;
  }
  #no-stress {
    align-self: center;
  }
  #basic-stats {
    align-self: center;
    max-width: 300px;
  }
  #user-info {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -15px;
    margin-left: -10px;
    text-align: center;
    width: 100%;
  }
  #userInfo {
    position: relative;
  }
  #userInfo h1 {
    text-align: center;
  }
  #user-info li {
    font-size: 8pt;
  }
  #attention {
    display: grid;
    grid-gap: 10px;
    grid-template: 1fr / 1fr 1fr;
    max-height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;
    padding-top: 5px;
  }
  #attention ul {
    justify-self: left;
  }
  .profile-book {
    justify-self: right;
  }
  .book-cover form {
    font-size: 25pt;
  }
  .book-memory {
    font-size: 25pt;
  }
}

@media (max-width: 680px) {
  .current-reading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }
  #read-to-remember {
    font-size: 30pt;
    height: 250px;
  }
  .book-cover img {
    width: 250px;
    height: 350px;
  }
  .book-cover form {
    font-size: 20pt;
  }
  .d-modal {
    font-size: 35pt;
  }
}

@media (max-width: 550px) {
  .extremely-friendly-div {
    display: block;
  }
  .mobile-friendly {
    width: 35px;
  }
  .mobile-friendly div {
    height: 33%;
    border-right: 1px solid black;
    border-top: 1px dotted black;
    background-color: #615148;
  }
  #login {
    width: 100%;
  }
  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 11pt;
  }
  .options input {
    width: 150px;
    margin: 10px;
  }
  .menu-btn {
    display: flex;
  }
  nav ul {
    display: none;
  }
  #minimize:active {
    height: 5px;
  }
  .block-list {
    background-color: papayawhip;
    display: block;
    position: absolute;
    top: 37px;
    width: 100%;
    right: 0;
    z-index: 3;
  }
  .block-list ul {
    list-style: none;
   
  }
  .block-list li {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
  }
  .link {
    cursor: pointer;
  }
  .flip-text {
    display: flex;
    position: absolute;
    left: -9px;
    margin-top: 40px;
    width: 50px;
    font-weight: bold;
    opacity: .2;
    transform: rotate(-90deg);
  }
  .delete-account {
    top: 50px;
  }
}


@media (max-width: 450px) {
  #read-to-remember {
    font-size: 30pt;
    max-height: 500px;
    min-width: 0px;
    overflow-wrap: break-word;
  }
  .options {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 11pt;
  }
  .options input {
    width: 100px;
    margin: 10px;
  }
  .category {
    margin: 10px;
  }
  #user-info {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    min-width: 200px;

  }
}

@media (max-width: 380px) {
  #profile-parent {
    min-width: 10px;
    margin: 0;
  }
  #basic-stats {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    padding-top: 10px;
  }
  .book-cover form {
    font-size: 15pt;
  }
  .book-cover img {
    width: 200px;
    height: 300px;
  }
}
@media (max-width: 395px) {
  #userInfo ul{
    overflow-x: auto;
    width: 100vw;
    margin-top: -15px;
    padding: 0;
  }
}

@media (max-width: 345px) {
  .book-memory {
    font-size: 30px;
  }
}

@media (max-height: 700px) {
  .book-cover img {
    height: 400px;
  }
}
@media (max-height: 700px) {
  .book-cover img {
    width: 100%;
    height: 350px;
  }
}
@media (max-height: 600px) {

  .book-cover img {
    height: 300px;
    width: 250px;
  }
}

@media (max-height: 520px) {
  .scroll-covers { 
    bottom: 0;
  }
}

@media (max-height: 430px) {
  .book-cover {
    justify-content: initial;
  }
}

@media (max-height: 400px) {
  .book-cover img {
    height: 250px;
    width: 200px;
  }
}
@media (max-height: 360px) {
  .book-cover img {
    height: 200px;
    width: 150px;
  }
}
@media (max-height: 310px) {
  .book-cover img {
    height: 150px;
    width: 100px;
  }
}


.modal-info-container {
  display: grid;
  width: 100vw;
  overflow: auto;
  text-align: center;
}
/*
.book-info-modal {
  min-height: 100vh;
}
*/
.book-memory {
  width: 100vw;
  /* min-height: 100vh; */
}
.book-cover {
  width: 100vw;
  text-align: center;
  /* min-height: 100vh; */
}
.close {
  display: none;
}
.scroll-covers {
  width: 100vw;
  text-align: center;
}

